In [1]:
import pandas as pd

In [47]:
tw= pd.read_csv(r"C:\Users\ashish\Downloads\tweets.csv (1)\tweets.csv")

In [48]:
tw

,id,keyword,location,text,target
0,0,ablaze,NaN,"Communal violence in Bhainsa, Telangana. ""Ston...",1
1,1,ablaze,NaN,Telangana: Section 144 has been imposed in Bha...,1
2,2,ablaze,New York City,Arsonist sets cars ablaze at dealership https:...,1
3,3,ablaze,"Morgantown, WV",Arsonist sets cars ablaze at dealership https:...,1
4,4,ablaze,NaN,"""Lord Jesus, your love brings freedom and pard...",0
...,...,...,...,...,...
11365,11365,wrecked,Blue State in a red sea,Media should have warned us well in advance. T...,0
11366,11366,wrecked,arohaonces,i feel directly attacked ðŸ’€ i consider moonbin ...,0
11367,11367,wrecked,ðŸ‡µðŸ‡­,i feel directly attacked ðŸ’€ i consider moonbin ...,0
11368,11368,wrecked,auroraborealis,"ok who remember ""outcast"" nd the ""dora"" au?? T...",0
11369,11369,wrecked,NaN,Jake Corway wrecked while running 14th at IRP.,1

In [49]:
tw.isnull().sum()[tw.isnull().sum()>0]

location    3418
dtype: int64

In [50]:
#tw.location.value_counts()

In [51]:
tw = tw.drop('location' , axis=1)

In [52]:
tw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11370 entries, 0 to 11369
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       11370 non-null  int64
 1   keyword  11370 non-null  object
 2   text     11370 non-null  object
 3   target   11370 non-null  int64
dtypes: int64(2), object(2)
memory usage: 355.4+ KB

In [53]:
tw.keyword.unique()

array(['ablaze', 'accident', 'aftershock', 'airplane%20accident',
       'ambulance', 'annihilated', 'annihilation', 'apocalypse',
       'armageddon', 'army', 'arson', 'arsonist', 'attack', 'attacked',
       'avalanche', 'battle', 'bioterror', 'bioterrorism', 'blaze',
       'blazing', 'bleeding', 'blew%20up', 'blight', 'blizzard', 'blood',
       'bloody', 'blown%20up', 'body%20bag', 'body%20bagging',
       'body%20bags', 'bomb', 'bombed', 'bombing', 'bridge%20collapse',
       'buildings%20burning', 'buildings%20on%20fire', 'burned',
       'burning', 'bush%20fires', 'casualties', 'casualty', 'catastrophe',
       'catastrophic', 'chemical%20emergency', 'cliff%20fall', 'collapse',
       'collapsed', 'collide', 'collided', 'collision', 'crash',
       'crashed', 'crush', 'crushed', 'curfew', 'cyclone', 'damage',
       'danger', 'dead', 'death', 'deaths', 'debris', 'deluge', 'deluged',
       'demolish', 'demolished', 'demolition', 'derail', 'derailed',
       'derailment', 'desolate', 'desolation', 'destroy', 'destroyed',
       'destruction', 'detonate', 'devastated', 'devastation', 'disaster',
       'displaced', 'drought', 'drown', 'drowned', 'drowning',
       'dust%20storm', 'earthquake', 'electrocute', 'electrocuted',
       'emergency', 'emergency%20plan', 'emergency%20services',
       'engulfed', 'epicentre', 'evacuate', 'evacuated', 'evacuation',
       'explode', 'exploded', 'explosion', 'eyewitness', 'famine',
       'fatal', 'fatalities', 'fatality', 'fear', 'fire', 'fire%20truck',
       'first%20responders', 'flames', 'flattened', 'flood', 'flooding',
       'floods', 'forest%20fire', 'forest%20fires', 'hail', 'hailstorm',
       'harm', 'hazard', 'hazardous', 'heat%20wave', 'hellfire', 'hijack',
       'hijacker', 'hijacking', 'hostage', 'hostages', 'hurricane',
       'injured', 'injuries', 'injury', 'inundated', 'inundation',
       'landslide', 'lava', 'lightning', 'loud%20bang', 'mass%20murder',
       'mass%20murderer', 'massacre', 'mayhem', 'meltdown', 'military',
       'mudslide', 'natural%20disaster', 'nuclear%20disaster',
       'nuclear%20reactor', 'obliterate', 'obliterated', 'obliteration',
       'oil%20spill', 'outbreak', 'pandemonium', 'panic', 'panicking',
       'police', 'quarantine', 'quarantined', 'radiation%20emergency',
       'rainstorm', 'razed', 'refugees', 'rescue', 'rescued', 'rescuers',
       'riot', 'rioting', 'rubble', 'ruin', 'sandstorm', 'screamed',
       'screaming', 'screams', 'seismic', 'sinkhole', 'sinking', 'siren',
       'sirens', 'smoke', 'snowstorm', 'storm', 'stretcher',
       'structural%20failure', 'suicide%20bomb', 'suicide%20bomber',
       'suicide%20bombing', 'sunk', 'survive', 'survived', 'survivors',
       'terrorism', 'terrorist', 'threat', 'thunder', 'thunderstorm',
       'tornado', 'tragedy', 'trapped', 'trauma', 'traumatised',
       'trouble', 'tsunami', 'twister', 'typhoon', 'upheaval',
       'violent%20storm', 'volcano', 'war%20zone', 'weapon', 'weapons',
       'whirlwind', 'wild%20fires', 'wildfire', 'windstorm', 'wounded',
       'wounds', 'wreck', 'wreckage', 'wrecked'], dtype=object)

In [54]:
tw['keyword'] = tw['keyword'].str.replace('%20', ' ')

In [55]:
import re   # it used to working to regural expression

In [67]:
tw.isnull().sum()[tw.isnull().sum()>0]

Series([], dtype: int64)

In [56]:
#tw['keyword'] = tw['keyword'].apply(lambda x: re.sub(r'[^a-zA-Z0-9\s]', '', x))

In [57]:
tw.keyword.unique()

array(['ablaze', 'accident', 'aftershock', 'airplane accident',
       'ambulance', 'annihilated', 'annihilation', 'apocalypse',
       'armageddon', 'army', 'arson', 'arsonist', 'attack', 'attacked',
       'avalanche', 'battle', 'bioterror', 'bioterrorism', 'blaze',
       'blazing', 'bleeding', 'blew up', 'blight', 'blizzard', 'blood',
       'bloody', 'blown up', 'body bag', 'body bagging', 'body bags',
       'bomb', 'bombed', 'bombing', 'bridge collapse',
       'buildings burning', 'buildings on fire', 'burned', 'burning',
       'bush fires', 'casualties', 'casualty', 'catastrophe',
       'catastrophic', 'chemical emergency', 'cliff fall', 'collapse',
       'collapsed', 'collide', 'collided', 'collision', 'crash',
       'crashed', 'crush', 'crushed', 'curfew', 'cyclone', 'damage',
       'danger', 'dead', 'death', 'deaths', 'debris', 'deluge', 'deluged',
       'demolish', 'demolished', 'demolition', 'derail', 'derailed',
       'derailment', 'desolate', 'desolation', 'destroy', 'destroyed',
       'destruction', 'detonate', 'devastated', 'devastation', 'disaster',
       'displaced', 'drought', 'drown', 'drowned', 'drowning',
       'dust storm', 'earthquake', 'electrocute', 'electrocuted',
       'emergency', 'emergency plan', 'emergency services', 'engulfed',
       'epicentre', 'evacuate', 'evacuated', 'evacuation', 'explode',
       'exploded', 'explosion', 'eyewitness', 'famine', 'fatal',
       'fatalities', 'fatality', 'fear', 'fire', 'fire truck',
       'first responders', 'flames', 'flattened', 'flood', 'flooding',
       'floods', 'forest fire', 'forest fires', 'hail', 'hailstorm',
       'harm', 'hazard', 'hazardous', 'heat wave', 'hellfire', 'hijack',
       'hijacker', 'hijacking', 'hostage', 'hostages', 'hurricane',
       'injured', 'injuries', 'injury', 'inundated', 'inundation',
       'landslide', 'lava', 'lightning', 'loud bang', 'mass murder',
       'mass murderer', 'massacre', 'mayhem', 'meltdown', 'military',
       'mudslide', 'natural disaster', 'nuclear disaster',
       'nuclear reactor', 'obliterate', 'obliterated', 'obliteration',
       'oil spill', 'outbreak', 'pandemonium', 'panic', 'panicking',
       'police', 'quarantine', 'quarantined', 'radiation emergency',
       'rainstorm', 'razed', 'refugees', 'rescue', 'rescued', 'rescuers',
       'riot', 'rioting', 'rubble', 'ruin', 'sandstorm', 'screamed',
       'screaming', 'screams', 'seismic', 'sinkhole', 'sinking', 'siren',
       'sirens', 'smoke', 'snowstorm', 'storm', 'stretcher',
       'structural failure', 'suicide bomb', 'suicide bomber',
       'suicide bombing', 'sunk', 'survive', 'survived', 'survivors',
       'terrorism', 'terrorist', 'threat', 'thunder', 'thunderstorm',
       'tornado', 'tragedy', 'trapped', 'trauma', 'traumatised',
       'trouble', 'tsunami', 'twister', 'typhoon', 'upheaval',
       'violent storm', 'volcano', 'war zone', 'weapon', 'weapons',
       'whirlwind', 'wild fires', 'wildfire', 'windstorm', 'wounded',
       'wounds', 'wreck', 'wreckage', 'wrecked'], dtype=object)

In [58]:
tw.text.unique()

array(['Communal violence in Bhainsa, Telangana. "Stones were pelted on Muslims\' houses and some houses and vehicles were set ablazeâ€¦',
       'Telangana: Section 144 has been imposed in Bhainsa from January 13 to 15, after clash erupted between two groups on January 12. Poâ€¦',
       'Arsonist sets cars ablaze at dealership https://t.co/gOQvyJbpVI',
       ...,
       'i feel directly attacked ðŸ’€ i consider moonbin &amp; jinjin as my bias and im currently wrecked by rocky i hate this https://t.co/psLBecS7hI',
       'ok who remember "outcast" nd the "dora" au?? THOSE AU WRECKED OUR NERVES ND BRAINCELLS JDKSHSSJHS LEGENDS',
       'Jake Corway wrecked while running 14th at IRP.'], dtype=object)

In [59]:
import html

In [60]:
def clean_text(text):
    # 1. Convert HTML entities (&amp; etc.) to their corresponding characters
    text = html.unescape(text)
    
    # 2. Remove URLs
    text = re.sub(r"http\S+|www\S+", '', text)
    
    # 3. Remove special characters and digits, keeping only alphabets and spaces
    text = re.sub(r'[^a-zA-Z\s]', '', text)
    
    # 4. Convert to lowercase for uniformity
    text = text.lower()
    
    # 5. Remove extra whitespace
    text = ' '.join(text.split())
    
    return text

# Apply the cleaning function to the 'text' column
tw['text'] = tw['text'].apply(clean_text)

In [61]:
tw.text.unique()

array(['communal violence in bhainsa telangana stones were pelted on muslims houses and some houses and vehicles were set ablaze',
       'telangana section has been imposed in bhainsa from january to after clash erupted between two groups on january po',
       'arsonist sets cars ablaze at dealership', ...,
       'i feel directly attacked i consider moonbin jinjin as my bias and im currently wrecked by rocky i hate this',
       'ok who remember outcast nd the dora au those au wrecked our nerves nd braincells jdkshssjhs legends',
       'jake corway wrecked while running th at irp'], dtype=object)

In [62]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [63]:
tw.select_dtypes(include='object').columns

Index(['keyword', 'text'], dtype='object')

In [64]:
tw[tw.select_dtypes(include='object').columns] = tw[tw.select_dtypes(include='object').columns].apply(le.fit_transform)

In [65]:
tw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11370 entries, 0 to 11369
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       11370 non-null  int64
 1   keyword  11370 non-null  int32
 2   text     11370 non-null  int32
 3   target   11370 non-null  int64
dtypes: int32(2), int64(2)
memory usage: 266.6 KB

In [66]:
tw

          id  keyword  text  target
0          0        0  1669       1
1          1        0  8086       1
2          2        0   775       1
3          3        0   775       1
4          4        0  5454       0
...      ...      ...   ...     ...
11365  11365      218  5669       0
11366  11366      218  3593       0
11367  11367      218  3593       0
11368  11368      218  6422       0
11369  11369      218  4943       1

[11370 rows x 4 columns]

In [2]:
tws=pd.read_csv(r"C:\Users\ashish\Downloads\nlp-getting-started\sample_submission.csv")

In [3]:
tws

         id  target
0         0       0
1         2       0
2         3       0
3         9       0
4        11       0
...     ...     ...
3258  10861       0
3259  10865       0
3260  10868       0
3261  10874       0
3262  10875       0

[3263 rows x 2 columns]

In [4]:
tws.isnull().sum()

id        0
target    0
dtype: int64

In [8]:
tws.select_dtypes(include='object')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[3263 rows x 0 columns]

In [7]:
tws.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3263 entries, 0 to 3262
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      3263 non-null   int64
 1   target  3263 non-null   int64
dtypes: int64(2)
memory usage: 51.1 KB